@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
*{
	user-select: none;
}
body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}

p,h1,h2,h3,h4,h5,h6,a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	font-weight: normal;

}
h1,h2,h3,h4,h5,h6{
	font-family: 'Kanit', sans-serif;
}

.launcher{
	width: 1280px;
	height: 720px;
	background: url(../img/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}
.launcher nav{
	width: 80px;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.launcher nav .social_list .social{
	width: 80px;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.launcher nav .social_list .social i{
	width: 50px;
	height: 50px;
	background: transparent;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 20px;
	color: #993e3e;
	box-shadow: 0px 0px 0px 2px #3d1d1d inset;
	transition: 0.1s;
}
.launcher nav .social_list .social i label{
	position: absolute;
	margin-left: 160px;
	background: transparent;
	border-radius: 2px;
	color: #fff;
	font-size: 15px;
	font-style: normal;
	transition: 0.1s;
	visibility: hidden;
	opacity: 0;
	min-width: 80px;
	height: 25px;
	display: flex;
	align-items: center;
}
.launcher nav .social_list .social i label.r{
	margin-right: 320px;
	justify-content: flex-end;
}
.launcher nav .social_list .social i:hover{
	cursor: pointer;
}
.launcher nav .social_list .social i:hover label{
	visibility: visible;
	opacity: 1;
}
.launcher nav .social_list .social i.dc:hover{
	color: #fff;
	background: #7289da9e;
	box-shadow: 0px 0px 0px 2px #7289da9e inset, 0px 0px 20px #7289da9e, 0px 0px 10px #7289da9e inset;
	text-shadow: 0px 0px 10px #7289da9e;
}
.launcher nav .social_list .social i.ig:hover{
	color: #fff;
	background: #dd2a7b9e;
	box-shadow: 0px 0px 0px 2px #dd2a7b9e inset, 0px 0px 20px #dd2a7b9e, 0px 0px 10px #dd2a7b9e inset;
	text-shadow: 0px 0px 10px #dd2a7b9e;
}
.launcher nav .social_list .social i.yt:hover{
	color: #fff;
	background: #ff00009e;
	box-shadow: 0px 0px 0px 2px #ff00009e inset, 0px 0px 20px #ff00009e, 0px 0px 10px #ff00009e inset;
	text-shadow: 0px 0px 10px #ff00009e;
}

.launcher nav .social_list .social i:hover{
	color: #fff;
	background: #c515159e;
	box-shadow: 0px 0px 0px 2px #c515159e inset, 0px 0px 20px #c515159e, 0px 0px 10px #c515159e inset;
	text-shadow: 0px 0px 10px #c515159e;
}

.launcher section{
	height: 100%;
	width: calc(100% - 160px);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.launcher section .box{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.launcher section button{
	width: 150px;
	height: 40px;
	border: 0;
	outline: 0;
	transition: 0.1s;
	transform: skew(-20deg);
	background: #c51515;
	cursor: pointer;
	margin-top: 30px;
}
.launcher section button:hover{
	background: #ff1f1f;
	box-shadow: 0px 0px 20px #ff1f1f70;
}
.launcher section button.fake{
	background: #111215;
	cursor: default;
	margin-left: -5px;
}
.launcher section button.fake:hover{
	box-shadow: none;
}
.launcher section hr{
	width: 600px;
	height: 1px;
	border: 0;
	outline: 0;
	background: #ffffff08;
}
.launcher section h1{
	color: white;
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: -35px;
}
.launcher section p{
	color: #454545d1;
	font-family: 'Karla', sans-serif;
	font-size: 14px;

	max-width: 590px;
	text-align: center;
}
.launcher section button p{
	transform: skew(20deg);
	color: #fff;
	font-size: 15px;
	text-transform: none;
	font-family: 'Inconsolata', monospace;
}

.launcher section p.error{
	margin-top: 20px;
	color: red;
	background: #111215;
	padding: 5px 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px red inset, 0px 0px 5px #ff000042;

	display: flex;
	justify-content: center;
	align-items: center;

	display: none;
}
.launcher section p.error i{
	margin-right: 3px;
}
#verzija{
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #993e3e61;
	font-size: 10px;
}

.overlay{
	width: 1280px;
	height: 720px;
	background: #0a0b0f;
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay .box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.overlay .box svg path,
.overlay .box svg rect{
  fill: red;
}